
/* Videos Section */
.videos{
    grid-area: videos;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(290px,1fr));
    grid-gap: 15px;
    padding: 0 10px;
    text-align: start;
    grid-auto-rows: min-content;
}

.videos h2{
    grid-column: 1 / -1;
    padding: 35px 20px  0 20px;
    font-size: 1.25rem;
    letter-spacing: 0.06rem;
    text-align: start;
}

.videos .video{
    display: grid;
    grid-template-columns: 55px 1fr;
    grid-gap: 5px;
    font-size: 1rem;
    align-items: center;
    cursor: pointer;
    margin-bottom: 35px;
}

.videos .video img{
    width: 100%;
}

.videos .video .avatar{
    padding: 4px;
    height: 100%;
}

.videos .video .thumbnail{
    grid-column: 1 / -1;
}

.videos .video .channel,.videos .video .details{
    grid-column: span 1 / -1;
    color: var(--textcolor);
    font-weight: bold;
    font-size: 0.8rem;

}
.videos .video .title{
    font-size: 0.9rem;
    font-weight: bold;
    line-height: 1.2;
}

@media(max-width:700px){
    .videos{
        grid-column: 1 / -1;
    }
}