
.sidebar{
    width: 240px;
    background: white;
    color: black;
    top:0;
    width: 240px;
    grid-area: sidebar;
    position: absolute;
    transition: all 0.5s;
}

.sidebar ul{
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 10px 0;
}
.sidebar .title{
    text-transform: uppercase;
    padding-left: 18px;
    padding-top: 10px;
    display: block;
    color: rgba(0,0,0,0.7);
    font-weight: 600;
    text-align: start;
}
.sidebar ul li{
    display: grid;
    grid-template-columns: 19px 1fr;
    grid-gap: 24px;
    padding: 8px;
    align-items: center;
    padding: 10px 23px;
    cursor: pointer;
    justify-items: start;

}

.sidebar li:hover{
    background: rgba(0,0,0,0.1);
}

.sidebar ul:first-of-type li:first-child{
    background: rgba(0,0,0,0.1);
}

.sidebar ul li svg{
    opacity: var(--iconopacity);
}
